<div class="container mx-auto p-4">
  <app-go-back></app-go-back>
  <div class="container mx-auto p-4">
    <h2 class="text-2xl font-bold mb-4">Days Between Dates</h2>
    <div class="mb-4">
      <label class="block mb-2">Start Date:</label>
      <input
        type="date"
        [(ngModel)]="startDate"
        class="border border-gray-300 p-2 rounded w-full">
    </div>
    <div class="mb-4">
      <label class="block mb-2">End Date:</label>
      <input
        type="date"
        [(ngModel)]="endDate"
        class="border border-gray-300 p-2 rounded w-full">
    </div>
    <button
      (click)="calculateDaysBetween()"
      class="text-lg text-white font-semibold px-6 py-3 rounded hover:opacity-90 transition"
      [style.backgroundColor]="'var(--header-color)'">
      Calculate Days
    </button>
    <div *ngIf="daysBetween !== null" class="mt-4">
      <p>There are {{ daysBetween }} days between the selected dates.</p>
    </div>
  </div>
</div>
